$negro:#000000;
$blanco:#fff;
$azulClaro:#50b5ff;
$azulMedio:#008aff;
$azulOscuro:#171347;
$naranja:#ffbe3d;
$verde:#5cc9a7;
$salmon:#f25767;
$grisClaro:#eaecf3;
$grisOscuro:#718096;
$font: "https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" !default;
$miTipo:"Nunito";
$espacio:10px;
$sombra:0 0 $espacio rgba($negro, 0.1);